* {
	padding: 0;
	margin: 0;
	font-family: Sans-Serif;
}

body {
	font-size: 100%;
	background-color: #f5f5f5;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* *Navbar Styling */

navbar {
    width: 100%;
    margin-bottom: 5vw;
}

#navbar-logo {
    margin-left: 2%;
    width: 3vw;
}

#right-navbar {
    display: flex;
    justify-content: space-between;
    margin-right: 2%;
    /* width: 20%; */
}

#navbar-container {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-item {
    margin-left: 2vw;
    color: #000000;
    float: left;
    text-decoration: none;
}

/* *End Navbar Styling */

#custom-order-form{
	padding: none;
	width:60vw;
	height:90vh;
	display: flex;
	justify-content:center;
	align-content:center;
}

#custom-form{
	width:80%;
	height:100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:space-evenly;
	border:1px solid black;
	text-align:center;
}
#custom-form select{
	width:60%;
	height:10%;
	text-align: center;
	font-size:xx-large;
}

#custom-form input{
	text-align:center;
	font-size:xx-large;
	width:60%;
	height:10%;
}

#custom-form label{
	text-align:center;
	font-size:x-large;
	width:60%;
	height:2%;
}

/* *Footer Styling */

#footer {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1vh;
}

.footer-link {
    color: #000000;
    text-decoration: none;
    margin-bottom: 1vh;
}

#footer hr {
    width: 50vw;
}

#copyright-text {
    margin-top: 1vh;
    margin-bottom: 1vh;
    color:rgba(84, 84, 84, 0.8);
    font-size: 0.7rem;
}
