@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

/* Webkit based browsers */
meter[value="1"]::-webkit-meter-optimum-value { background: red; }
meter[value="2"]::-webkit-meter-optimum-value { background: yellow; }
meter[value="3"]::-webkit-meter-optimum-value { background: orange; }
meter[value="4"]::-webkit-meter-optimum-value { background: green; }

/* Gecko based browsers */
meter[value="1"]::-moz-meter-bar { background: red; }
meter[value="2"]::-moz-meter-bar { background: yellow; }
meter[value="3"]::-moz-meter-bar { background: orange; }
meter[value="4"]::-moz-meter-bar { background: green; }

*{
    font-family: 'Balsamiq Sans', cursive;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
meter {
  /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    margin: 0 auto 1em;
    width: 100%;
    height: 0.5em;

  /* Applicable only to Firefox */
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
}

meter::-webkit-meter-bar {
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
}



body{
    width:100%;
    height: 80vh;
    background-color:powderblue;

}
form{
    border:1px solid black;
    width:40%;
    height:80%;
    margin:0 auto;
    margin-top:5%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

}
form input{
    margin:5px;
    text-align:center;
    width: 80%;
    height:10%;
    border-radius: 30px;
}
form button{
    width: 80%;
    height: 10%;
    border-radius: 30px;
}
form button:hover{background-color: red; color:white;}

