/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

* {
    font-family: Sans-Serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
meter::-webkit-meter-bar {
    background: none;
    background-color: rgba(0, 0, 0, 0.1); */

meter {
    /* Reset the default appearance */
    /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; */

    margin: 0 auto 1em;
    width: 100%;
    height: 5vh;
    /* Applicable only to Firefox */
    /* background: none;
    background-color: rgba(0, 0, 0, 0.1); */
}

/* Webkit based browsers */
meter[value='1']::-webkit-meter-optimum-value {
    background: red;
}
meter[value='2']::-webkit-meter-optimum-value {
    background: yellow;
}
meter[value='3']::-webkit-meter-optimum-value {
    background: orange;
}
meter[value='4']::-webkit-meter-optimum-value {
    background: green;
}

/* Gecko based browsers */
meter[value='1']::-moz-meter-bar {
    background: red;
}
meter[value='2']::-moz-meter-bar {
    background: yellow;
}
meter[value='3']::-moz-meter-bar {
    background: orange;
}
meter[value='4']::-moz-meter-bar {
    background: green;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

* {
    font-family: Sans-Serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #888;
    width: 100%;
    height: 80vh;
}
/* .hero
    {
        border-radius: 25px;
        width:200px;
        height:50px;
        text-align: center;
    } */
form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
}
input {
    font-size: large;
    text-align: center;
    width: 30vw;
    height: 5vh;
}

h1 {
    font: bold 3vw sans-serif;
}

button {
    margin: auto;
    width: 60%;
    height: 8vh;
}
.general {
    margin: auto;
    margin-top: 10vh;
    border: 1px solid black;
    width: 50vw;
    height: 70vh;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}
/* *Navbar Styling */

navbar {
    width: 100%;
    margin-bottom: 5vw;
}

#navbar-logo {
    margin-left: 2%;
    width: 3vw;
}

#right-navbar {
    display: flex;
    justify-content: space-between;
    margin-right: 2%;
    /* width: 20%; */
}

#navbar-container {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-item {
    margin-left: 2vw;
    color: #000000;
    float: left;
    text-decoration: none;
}

/* *End Navbar Styling */
