* {
    padding: 0;
    margin: 0;
    font-family: Sans-Serif;
}

body {
    font-size: 100%;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* *Navbar Styling */

navbar {
    width: 100%;
    margin-bottom: 5vw;
}

#navbar-logo {
    margin-left: 2%;
    width: 3vw;
}

#right-navbar {
    display: flex;
    justify-content: space-between;
    margin-right: 2%;
    /* width: 20%; */
}

#navbar-container {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-item {
    margin-left: 2vw;
    color: #000000;
    float: left;
    text-decoration: none;
}

/* *End Navbar Styling */

/* *Header Styling */

#shop-header {
    width: 50vw;
    text-align: center;
    margin-bottom: 3vw;
}

#shop-header h1 {
    font: bold 3vw sans-serif;
}

/* *End Header Styling */

/* *Shop Styling */

#shop {
    width: 100%;
    display: flex;
    justify-content: center;
}

.shop-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1vw;
}

.shop-item {
    width: 20vw;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw;
    box-shadow: 1px 1px 5px;
}

.item-img {
    max-width: 100%;
    height: auto;
    /* box-shadow: 1px 1px 5px; */
}

.item-text {
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    width: 100%;
    margin-top: 1vw;
}
.item-text input {
    text-align: center;
    color:#000000;
    font-size: x-large;
    border  : none;
    padding : 0 10px;
    margin  : 0;
    width   : 240px;
    background: none;

}
p.item-desc {
    word-wrap: break-word;
    width: 80%;
    margin-bottom: 1vh;
    height: 100%;
    text-align: center;

}

.item-btn {
    display: flex;
    justify-content: center;
    width: 100%;
}

.buy-btn {
    background-color: #000000;
    color: white;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 30%;
    font: bold 1vw sans-serif;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}

.buy-btn:hover {
    background: #1b1b1b;
    border-color: #1b1b1b;
}

/* *End Shop Styling */
