/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

* {
	padding: 0;
	margin: 0;
	font-family: Sans-Serif;
}

body {
	font-size: 100%;
	background-color: #f5f5f5;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* *Navbar Styling */

navbar {
	width: 100%;
	margin-bottom: 5vw;
}

#navbar-logo {
	width: 3vw;
}

#middle-navbar {
	width: 10%;
	display: flex;
	justify-content: space-around;
}

#right-navbar {
	width: 10%;
	display: flex;
	justify-content: space-around;
}

#navbar-container {
	background-color: #ffffff;
	width: 100%;
	display: flex;
	align-items: center;
}

.navbar-item {
	color: #000000;
	float: left;
	text-decoration: none;
}

/* *End Navbar Styling */

/* *Description Styling */

#home-description {
	text-align: center;
	width: 50vw;
	margin-bottom: 5vw;
}

#desc-content {
	margin-bottom: 3vw;
}

#home-shop-btn {
	color: #fff;
	background-color: black;
	text-decoration: none;
	border: 2px solid black;
	border-radius: 10px;
	font: bold 1vw sans-serif;
	padding: 1vh;
}

#home-shop-btn:hover {
	background-color: #1b1b1b;
	border: 2px solid #1b1b1b;
}

/* *End Description Styling */

/* *Hero Styling */

#hero {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 5vw;
}

#hero-container {
	width: 80vw;
	height: 80vh;
	background-image: url("images/bikerideincity.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
}

#hero-fade {
	width: 100%;
	height: 100%;
	background: rgba(84, 84, 84, 0.8);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#hero-text-one {
	color: #fff;
	font: bold 3vw sans-serif;
}

#hero-text-two {
	color: #fff;
	font: bold 1vw sans-serif;
}

/* *End Hero Styling */

/* *Content Styling */

#bike-types {
	display: flex;
	justify-content: center;
	margin-bottom: 5vw;
}

#content-container {
	width: 80vw;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.bike-styles {
	display: flex;
	width: 40vw;
	justify-content: space-around;
}

.bike-type-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

#content-devider {
	height: 50vh;
}

.bike-type-content p {
	width: 15vw;
}

.home-images {
	height: 40vh;
	aspect-ratio: 8 / 11;
}

/* *End Content Styling */

/* *Footer Styling */

#footer {
	width: 100%;
	background-color: #fff;
	display: flex;
	justify-content: center;
}

.footer-link {
	color: #000000;
	text-decoration: none;
}
