*{
    padding:none;
    margin:0;
    font-family: Sans-Serif;
    box-sizing: border-box;
}
body{
    width:100%;
    height:80vh;
    background-color: #f5f5f5;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* *Navbar Styling */

navbar {
    width: 100%;
    margin-bottom: 5vw;
}

#navbar-logo {
    margin-left: 2%;
    width: 3vw;
}

#right-navbar {
    display: flex;
    justify-content: space-between;
    margin-right: 2%;
    /* width: 20%; */
}

#navbar-container {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5vw;
}

.navbar-item {
    margin-left: 2vw;
    color: #000000;
    float: left;
    text-decoration: none;
}

/* *End Navbar Styling */

#shop {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 3vw;
}

.shop-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1vw;
}

.shop-item {
    width: 20vw;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw;
    box-shadow: 1px 1px 5px;
}

.item-img {
    max-width: 100%;
    height: auto;
    /* box-shadow: 1px 1px 5px; */
}

.item-text {
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    width: 100%;
    margin-top: 1vw;
}

p.item-desc {
    word-wrap: break-word;
    width: 80%;
    margin-bottom: 1vh;
    height: 100%;
    text-align: center;

}

/* *End Navbar Styling */

/* *Header Styling */

#userHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3vw;
}

#userHeader h1 {
    font: bold 3vw sans-serif;
}

#userHeader hr {
    width:50vw;
}

/* *Footer Styling */

#footer {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1vh;
}

.footer-link {
    color: #000000;
    text-decoration: none;
    margin-bottom: 1vh;
}

#footer hr {
    width: 50vw;
}

#copyright-text {
    margin-top: 1vh;
    margin-bottom: 1vh;
    color:rgba(84, 84, 84, 0.8);
    font-size: 0.7rem;
}
