<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Bike - Custom Order</title>
        <link
            type="text/css"
            rel="stylesheet"
            href="{{ url_for('static', filename='css/custom.css') }}"
        />
    </head>
    <body>
        <navbar>
            <div id="navbar-container">
                <img
                    id="navbar-logo"
                    src="static/css/images/logo.svg"
                    alt="Company Logo"
                />
                <div id="right-navbar">
                    <a
                        href="{{ url_for('renderIndex') }}"
                        class="navbar-item middle-navbar-item"
                        >Home</a
                    >
                    <a
                        href="{{ url_for('renderShop') }}"
                        class="navbar-item middle-navbar-item"
                        >Shop</a
                    >
              
                    <a
                        href="{{ url_for('renderUsers') }}"
                        class="navbar-item right-navbar-item"
                        style="display:{{logout}}"
                        >My Bikes</a
                    >
                    <a
                        href="{{ url_for('admin') }}"
                        class="navbar-item right-navbar-item"
                        style="display:{{admin}}"
                        >Admin</a
                    >
                    <a
                        href="{{url_for('logOut')}}"
                        class="navbar-item right-navbar-item"
                        style="display:{{logout}}"
                        >Log Out</a
                    >
                </div>
            </div>
        </navbar>
        <section id="custom-order-form">
            <form
                action="{{ url_for('purchaseBike') }}"
                method="POST"
                id="custom-form"
            >
                <label for="type">bike type</label>
                <select name="type" id="bike-type" required>
                    <option value="mountain">Mountain Bike</option>
                    <option value="street">Street Bike</option>
                </select>
                <label for="gears">gears</label>
                <select name="gears" id="gears" required>
                    <option value="1">1</option>
                    <option value="3">3</option>
                    <option value="16">18</option>
                    <option value="21">21</option>
                    <option value="24">24</option>
                    <option value="27">27</option>
                    <option value="69">69</option>
                </select>
                <label for="tire-size">Tire Size</label>
                <select name="tire-size" id="tire-size" required>
                    <option value="16">16</option>
                    <option value="20">20</option>
                    <option value="24">24</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="27.5">27.5</option>
                    <option value="29">29</option>
                    <option value="32">32</option>
                    <option value="420">420</option>
                </select>
                <label for="bike-color">color</label>
                <input type="color" name="bike-color" id="bike-color" required />
                <input
                
                    class="card_Num numbersOnly"
                    type="text"
                    maxlength="19"
                    name="ccn"
                    id="ccn"
                    placeholder="Card Number"
                    required
                />
                <input class ="numbersOnly"  id="cvv" type="tel" min="3" maxlength="3" name="cvv" placeholder="CVV" required />
                <input type="submit" id="Submit" value="Submit"/>
            </form>
        </section>
        <section id="footer">
            <a href="{{ url_for('renderIndex') }}" class="footer-link">Home</a>
            <a href="{{ url_for('renderShop') }}" class="footer-link">Shop</a>
            <hr>
            <p id="copyright-text">Copyright © Bike 2022 All Rights Reserved. If you steal any images or text from our site we will hunt you down and steal your kids.</p>
        </section>
        <p id="error">{{error}}</p>
        <script
            type="text/javascript"
            src="{{url_for('static',filename='js/cst.js')}}"
        ></script>
    </body>
</html>
