<!DOCTYPE HTML>

<head>
    <link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

</head>
<body>
    		<navbar>
			<div id="navbar-container">
				<img
					id="navbar-logo"
					src="static/css/images/logo.svg"
					alt="Company Logo"
				/>
				<div id="middle-navbar">
					<a
						href="{{ url_for('renderIndex') }}"
						class="navbar-item middle-navbar-item"
						>Home</a
					>
					<a
						href="{{ url_for('renderShop') }}"
						class="navbar-item middle-navbar-item"
						>Shop</a
					>
				</div>
				<div id="right-navbar">
					<a
						href="{{ url_for('renderLogin') }}"
						class="navbar-item right-navbar-item"
						>Login</a
					>
					<a
						href="{{ url_for('renderRegister') }}"
						class="navbar-item right-navbar-item"
						>Sign Up</a
					>
					<a
						href="{{ url_for('renderShop') }}"
						class="navbar-item right-navbar-item"
						><ion-icon name="bag-outline"></ion-icon
					></a>
					
				</div>
			</div>
		</navbar>
    <section>
        <div class="general">
        <h1>Login</h1>
        <form class = form1 action = "http://localhost:5000/login" method = "POST">
            <input type="emmail" id="Username" name ='nm' placeholder="EMAIL">
            <br/>
            <br/>
            <input type="password" id="Password" name = 'pw' placeholder="PASSWORD">
            <br/>
            <br/>
            <button type="submit" value="submit">Login</button>
            <p>{{error}}</p>
            <a href="http://localhost:5000/register">Need to register? click here</a>
            </form>
        </div>
    </section>
</body>
</html>