<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>
        <link rel="stylesheet" href="../static/css/register.css" />
        <link
            rel="stylesheet"
            href="{{url_for('static',filename='css/register.css')}}"
        />
        <title>Register</title>
    </head>
    <body>
        <navbar>
            <div id="navbar-container">
                <img
                    id="navbar-logo"
                    src="static/css/images/logo.svg"
                    alt="Company Logo"
                />
                <div id="right-navbar">
                    <a
                        href="{{ url_for('renderIndex') }}"
                        class="navbar-item middle-navbar-item"
                        >Home</a
                    >
                    <a
                        href="{{ url_for('renderShop') }}"
                        class="navbar-item middle-navbar-item"
                        >Shop</a
                    >
                    <a
                        href="{{ url_for('renderLogin') }}"
                        class="navbar-item right-navbar-item"
                        >Login</a
                    >

                </div>
            </div>
        </navbar>
        <div class="general">
            <form
                class="form1"
                method="post"
                action="http://localhost:5000/register"
                id="rgstr"
            >
                <h1>Register</h1>
                <br />
                <input
                    type="email"
                    name="eml"
                    placeholder="Enter your email address"
                />
                <br />
                <input
                    type="'text"
                    name="adr"
                    placeholder="Enter your shipping address"
                />
                <br />
                <input
                    type="password"
                    id="password"
                    name="pwd"
                    placeholder="Enter your password"
                    required
                />
                <meter min="0" max="4" id="password-strength-meter"></meter>
                <p id="password-strength-text"></p>
                <br />
                <button type="submit" value="'submit">Register</button>
                <h3>{{error}}</h3>
                <a href="http://localhost:5000/login">Already a user? log in</a>
            </form>
        </div>

        <script
            type="text/javascript"
            src="{{url_for('static',filename='js/reg.js')}}"
        ></script>
    </body>
</html>
