<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>
    <link rel="stylesheet" href="../static/css/register.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/register.css')}}">
    <title>Document</title>
</head>
<body>
  		<navbar>
			<div id="navbar-container">
				<img
					id="navbar-logo"
					src="static/css/images/logo.svg"
					alt="Company Logo"
				/>
				<div id="middle-navbar">
					<a
						href="{{ url_for('renderIndex') }}"
						class="navbar-item middle-navbar-item"
						>Home</a
					>
					<a
						href="{{ url_for('renderShop') }}"
						class="navbar-item middle-navbar-item"
						>Shop</a
					>
				</div>
				<div id="right-navbar">
					<a
						href="{{ url_for('renderLogin') }}"
						class="navbar-item right-navbar-item"
						>Login</a
					>
					<a
						href="{{ url_for('renderRegister') }}"
						class="navbar-item right-navbar-item"
						>Sign Up</a
					>
					<a
						href="{{ url_for('renderShop') }}"
						class="navbar-item right-navbar-item"
						><ion-icon name="bag-outline"></ion-icon
					></a>
				
				</div>
			</div>
		</navbar>
  <div class="general">
    <form class="form1" method="post" action="http://localhost:5000/register">
        <input type="email" name="eml" placeholder="Enter your email address">
        <br/>
        <input type="'text" name="adr" placeholder="Enter your shipping address">
        <br/>
        <input type="password" id = password name = pwd placeholder="Enter your password" required>
        <meter min = 1 max="4" id="password-strength-meter"></meter>
        <p id = "password-strength-text"></p>

        <br/>
        <label for ='regManager'>Manager?</label>
        <input id ='regManager' type="checkbox" name="mngr" value="1" placeholder="Register as Administrator ?">
        <br/>
        <button type="submit" value="'submit">Register</button>
        <h3>{{error}}</h3>
        <a href="http://localhost:5000/login">Already a user? log in</a>
    </form>
    </div>
    
  

    <script>
        var strength = {
        0: "Worst",
        1: "Bad",
        2: "Weak",
        3: "Good",
        4: "Strong"
}
var password = document.getElementById('password');
var meter = document.getElementById('password-strength-meter');
var text = document.getElementById('password-strength-text');

password.addEventListener('input', function() {
  var val = password.value;
  var result = zxcvbn(val);
  // Update the password strength meter
  meter.value = result.score;
  console.log(meter.value);
  // Update the text indicator
  if (val !== "") {
    text.innerHTML = "Strength: " + strength[result.score];

  } else {
    text.innerHTML = "";
  }
});
    </script>
</body>
</html>