<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			type="text/css"
			rel="stylesheet"
			href="{{ url_for('static', filename='css/shop.css') }}"
		/>
		<title>Bike - Home</title>
	</head>
	<body>
        <navbar>
            <div id="navbar-container">
                <img
                    id="navbar-logo"
                    src="static/css/images/logo.svg"
                    alt="Company Logo"
                />
                <div id="right-navbar">
                    <a
                        href="{{ url_for('renderIndex') }}"
                        class="navbar-item middle-navbar-item"
                        >Home</a
                    >
                    <a
                        href="{{ url_for('renderShop') }}"
                        class="navbar-item middle-navbar-item"
                        >Shop</a
                    >
                    <a
                        href="{{ url_for('renderLogin') }}"
                        class="navbar-item right-navbar-item"
                        style="display:{{login}}"
                        >Login</a
                    >
                    <a
                        href="{{ url_for('renderRegister') }}"
                        class="navbar-item right-navbar-item"
                        style="display:{{login}}"
                        >Sign Up</a
                    >
                    <a
						href="{{ url_for('renderUsers') }}"
						class="navbar-item right-navbar-item"
                        style="display:{{logout}}"
					>My Bikes</a>
                    <a
						href="{{ url_for('admin') }}"
						class="navbar-item right-navbar-item"
                        style="display:{{admin}}">Admin</a>
                    <a
                        href="{{url_for('logOut')}}"
                        class="navbar-item right-navbar-item" style="display:{{logout}}"
                        >Log Out</a
                    >
                </div>
            </div>
        </navbar>
		<section id="shop-header">
			<h1>BIKEY</h1>
			<hr />
		</section>
		<section id="shop">
			<div class="shop-container">
				{% for item in bikestock %}
				<form action="{{url_for ('buyBike') }}" method="POST">
					<div class="shop-item">
						<img class="item-img" src="static/uploads/{{item[3]}}" alt="Bike" />
						<div class="item-text">
							<input name="item-name" type="text" class="item-name" placeholder="{{item[0]}}" value="{{item[0]}}" disabled readonly></input>
                            
							<input name="item-price" type="text" class="item-price" placeholder="{{item[2]}}" value="$ {{item[2]}}"disabled readonly></input>
							<p class="item-desc">{{item[4]}}</p>
						</div>
                        <div class="item-btn">
                            <button name="submitBtn" class="buy-btn" type="submit" value="{{item[0]}}">Buy</button>
                        </div>
					</div>
				</form>
				{% endfor %}
			</div>
		</section>
	</body>
</html>
