<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			type="text/css"
			rel="stylesheet"
			href="{{url_for('static',filename='css/users.css')}}"
		/>
		<title>Bikes Purchased</title>
	</head>
	<body>
		<navbar>
			<div id="navbar-container">
				<img
					id="navbar-logo"
					src="static/css/images/logo.svg"
					alt="Company Logo"
				/>
				<div id="right-navbar">
					<a
						href="{{ url_for('renderIndex') }}"
						class="navbar-item middle-navbar-item"
						>Home</a
					>
					<a
						href="{{ url_for('renderShop') }}"
						class="navbar-item middle-navbar-item"
						>Shop</a>
			
					<a
						href="{{ url_for('renderUsers') }}"
						class="navbar-item right-navbar-item"
						style="display:{{logout}}"
						>My Bikes</a>
					<a
						href="{{ url_for('admin') }}"
						class="navbar-item right-navbar-item"
						style="display:{{admin}}"
						>Admin</a>
					<a
						href="{{url_for('logOut')}}"
						class="navbar-item right-navbar-item"
						style="display:{{logout}}"
						>Log Out</a>
				</div>
			</div>
		</navbar>
		<section id="userHeader">
			<h1>Purchased Bikes</h1>
			<hr>
		</section>
		<section id="shop">
			<div class="shop-container">
				{%for bike in bikes %}
				<!-- <li><img src="static/uploads/{{bike[3]}}"><br/><div>{{bike[0]}}<br/> Price: $ {{bike[2]}}<br/></div></li> -->
				<div class="shop-item">
					<img class="item-img" src="static/uploads/{{bike[3]}}" alt="Bike" />
					<div class="item-text">
						<p class="item-name">{{bike[0]}}</p>
						<p class="item-price">${{bike[2]}}</p>
						<p class="item-desc">{{bike[4]}}</p>
					</div>
				</div>
				{%endfor%}
			</div>
		</section>
        <section id="footer">
            <a href="{{ url_for('renderIndex') }}" class="footer-link">Home</a>
            <a href="{{ url_for('renderShop') }}" class="footer-link">Shop</a>
            <hr>
            <p id="copyright-text">Copyright © Bike 2022 All Rights Reserved. If you steal any images or text from our site we will hunt you down and steal your kids.</p>
        </section>
	</body>
</html>
